@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#login {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 8px;
    height: 20em;
    width: 19em;
    box-shadow: 7px 7px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(95, 88, 88);
}

.login-inicial, .cadastro {
    display: flex;
    flex-direction: column;
    gap: 0.95em;
    background-color: aliceblue;
    justify-content: center;
    border-radius: 8px;
}

#entrar, #cadastrar {
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 2em;
    font-size: 1.2em;
}

#entrar:hover {
    cursor: pointer;
}

#botao-nao-possui-conta {
    text-decoration: black;
    border-width: 0;
    background-color: aliceblue;
    font-size: 0.9em;
}

#botao-nao-possui-conta:hover {
    text-decoration: underline;
    cursor: pointer;
}

input {
    height: 2em;
    font-size: 1.2em;
    border-radius: 8px;
    border-color: black;
    accent-color: green;
}

.none {
    display: none;
}

#checkbox-voz, #checkbox-tempo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Open Sans';
}

#cadastro-checkbox {
    display: flex;
    flex-direction: column;
    gap: 0.2px;
}

#txt-sem-conta {
    font-size: 1.2em;
    font-family: 'Open Sans';
}

.mensagem-erro, .mensagem {
    font-size: 13.5px;
    color: red;
    text-align: center;
    height: 15px;
    font-family: 'Roboto';
}

.borda-erro {
    border: 2px solid red;
}

#txt-tema-pagina {
    font-size: 15px;
    font-family: 'Open Sans';
}

#input-tema-pagina {
    width: 3em;
    height: 1.5em;
}

#cadastrar {
    cursor: pointer;
}

.botao-sem-login {
    font-family: 'Open Sans';
    color: white;
    background-color: blue;
    border-radius: 5px 5px;
    cursor: pointer;
    width: 50%;
    height: 8%;
    position: relative;
    left: 25%;
}